@font-face {
    font-family: Youtube-Sans;
    src: url(yt-sans-medium.ttf);
}

* {
    font-family: Youtube-Sans, serif;
    background-color: #E5D0CC;
    color: #172121;
    text-decoration: none;
    box-sizing: border-box;
}

.navigation {
    list-style: none;
    display: flex;
}

.nav_button {
    margin-top: 3.5%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_button li {
    transition: all 0.5s;
    margin-right: 5%;
    display: inline-block;
}

.nav_button button {
    border-block-color: none;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    width: 150px;
    height: 150px;
}

.nav_button li:hover {
    transition: all 0.5s;
    transform: scale(1.1);
}

.default_style {
    text-align: center;
    padding: 5%;
}