@font-face {
    font-family: Youtube-Sans;
    src: url(../../yt-sans-medium.ttf);
}

* {
    font-family: Youtube-Sans, serif;
    background: #E5D0CC;
    color: #172121;
    text-decoration: none;
    box-sizing: border-box;
}

.navigation {
    list-style: none;
    display: flex;
    background: transparent;
}

.nav_button {
    margin-top: 3.5%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_button li {
    transition: 0.3s;
    margin-right: 5%;
    display: inline-block;
}

.nav_button button {
    cursor: pointer;
    border-radius: 7%;
    border-color: transparent;
    background-color: #BFACB5;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px inset;
    width: 130px;
    height: 130px;
}

.nav_button li:hover {
    transition: all 0.3s;
    transform: scale(1.1);
}

.default_style {
    text-align: center;
    padding: 5%;
}