.flex-containers {
    display: flex;
}

.field {
    margin-top: 5%;
    margin-left: 5%;
    background-color: #BFACB5;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px
        inset;
    width: 55%;
    height: 500px;
}

.field div {
    background: transparent;
    font-size: 27px;
    padding-top: 1.2%;
    padding-left: 1.2%;
}

.field p {
    background: transparent;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
}

.fields {
    margin: 5% 5% 5% auto;
    background-color: #BFACB5;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 12px 28px 0, rgba(0, 0, 0, 0.1) 0 2px 4px 0, rgba(255, 255, 255, 0.05) 0 0 0 1px
        inset;
    width: 30%;
    height: 500px;
}

.fields div {
    background: transparent;
    font-size: 27px;
    padding-top: 1.2%;
    padding-left: 1.2%;
}

.fields img {
    background: transparent;
    width: 80%;
    display:block;
    margin-top: 5%;
    margin-left: 10%;
}
